@import url(../css/global.css);

/*Geral*/

* {
    font-family: "Raleway";
    text-decoration: none;
    color: var(--text-color);
}

h2,
p,
h3,
ul {
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--primary-color);
}

button {
    border: none;
    background-color: var(--tertiary-color);
    border-radius: 500px;
    padding: 8px 26px;
    font-weight: 700;
}

/*Header*/

.header {
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;

}

.header img {
    height: 27px;
}

.header-signIn,
.header-signUp {
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0 24px 0 0;
    font-size: 0.75rem;
}

.header-signUp {
    transition: background-color 1s, color 1s;
}

.header-signUp:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

/* Section 1 (Renomear)*/

.section-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 100px 0 300px 0;
}

.logos-ch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.section-1-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1-title h3 {
    font-size: 2rem;
    font-weight: lighter;
}

.section-1-title h2 {
    font-size: 3rem;
}



.divider {
    background-image: var(--divider-bg-color);
    width: 45%;
    height: 4px;
    border: none;
}



.price-offer-section1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.section-1-offer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-1-offer p {
    font-family: "Quicksand";
    font-size: 1.25rem;
}

.section-1-button {
    font-size: 1rem;
    letter-spacing: 4px;
    padding: 16px 40px;
    background: var(--btn-bg-color-gradient);
    background-size: 300%;
    animation: wiggle 3s infinite;
    transition: background-position 1.5s, background-color 1s, border 1s;
}



.animation {
    animation: none;
}

.section-1-button:hover {
    background-color: transparent;
    background-position: 100% 0;
    border: 3px var(--secondary-color) solid;
}

.observacao {
    max-width: 20%;
    text-align: center;
    font-family: "Quicksand";
    font-weight: lighter;
}


/* Planos de assinatura*/

.teste {
    display: flex;
    gap: 80px;
    margin: 40px 0;
}

.plans h3 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    max-width: 75%;
}

.plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/background-movies-series.png);
}


.plans-card {
    background: var(--card-bg-color);
    border-radius: 8px;
    padding: 40px 60px;
    max-width: 400px;

    display: flex;
    flex-direction: column;

}

.info-plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 16px;
}

.info-plan h3 {
    font-size: 1.5rem;
}

.price-plan {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 700;
}

.price-plan span {
    font-size: 1rem;
    font-weight: normal;
}

ul li {
    font-size: 1.25rem;
    padding: 0 0 0 14px;
    margin: 0 0 14px;
}

ul {
    padding: 0;
}

li::marker {
    content: '+';
    font-size: 2rem;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;

}

.footer p {
    margin: 16px 0px;
    font-size: 0.75rem;
    font-family: "Quicksand";
    color: var(--link-color);
}



.link {
    color: var(--link-color);
    transition: color 1s;
    font-size: 0.88rem;
    font-weight: bold;
    margin: 0px 14px;
    letter-spacing: 2px;
}

.link:hover {
    color: var(--text-color);
}

.logos {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 80px;
}

/* Animation */

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-8deg);
    }

    /* Rotação maior inicial */
    20% {
        transform: rotate(8deg);
    }

    /* Rotação maior inicial */
    30% {
        transform: rotate(-5deg);
    }

    /* Diminuindo a energia */
    40% {
        transform: rotate(5deg);
    }

    /* Quase parando */
    50% {
        transform: rotate(0deg);
    }

    /* Parou */
    100% {
        transform: rotate(0deg);
    }

    /* Mantém parado até o fim do ciclo */
}