@import url(global.css);

body {
    margin: 0;
}

header {
    background-color: var(--primary-color);
    opacity: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

header img {
    height: 27px;
}

header img:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Raleway";
    font-size: 12px;
    border: none;
}

button:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 20px;
}

.signIn {
    background-color: transparent;
    color: var(--text-color);

}

.signUp {
    background-color: var(--tertiary-color);
    padding: 6px 24px;
    border-radius: 20px;
    color: var(--text-color);
}

.signUp:hover {
    background-color: #ffffff;
    color: var(--primary-color);
}

@media screen and (max-width: 480px) {
    header {
        gap: 15px;
        flex-direction: column;
    }
}