@import url(global.css);

/* Configurações Gerais */

* {
    font-family: "Raleway";
}

body,
p {
    margin: 0;
}

a {
    text-decoration: none;

}



button {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--text-color);
    padding: 8px 26px;
    border-radius: 500px;
    border: none;
}

button:hover {
    cursor: pointer;
}

/* Header */

header {
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

header img {
    height: 27px;
}

.signIn {

    background-color: transparent;
}

.signUp {
    border-radius: 500px;
    background-color: var(--tertiary-color);
    margin-right: 24px;
    transition: background-color 1s, color 1s;
}

.signUp:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

/* Main */

.main {
    background-color: rgb(169, 53, 53);


    padding: 24px;
    margin: 100px;
}

/*Container - Login*/

.container-login {

    display: flex;
    justify-content: center;
}

form {
    background-color: var(--form-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    align-items: start;

}

form h2 {
    text-align: center;
    margin-bottom: 24px;
}

::placeholder {
    color: var(--form-field-placeholder);
}

input {
    display: block;
    background-color: var(--form-field-bg-color);
    padding: 16px;
    border-radius: 8px;
    border: var(--form-field-border);
    width: 90%;
}

.remind-password {
    border: none;
    background: transparent;
    color: var(--link-color);
    letter-spacing: normal;
    text-transform: none;
    font-size: 1rem;
}

.signIn-login {
    background-image: var(--btn-bg-color-gradient);
    background-size: 600%;
    padding: 16px 40px;
    font-size: 0.85rem;
    transition: all 1s;
}

.signIn-login:hover {

    background-color: transparent;
    outline: 3px solid var(--tertiary-color);
    transform: scale(1.01);
    background-position: 100% 0;
}

/* Footer */

.footer {
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.footer p {
    margin: 16px 0px;
    font-size: 0.75rem;
    font-family: "Quicksand";
    color: var(--link-color);
}



.link {
    color: var(--link-color);
    transition: color 1s;
    font-size: 0.88rem;
    font-weight: bold;
    margin: 0px 14px;
}

.link:hover {
    color: var(--text-color);
}

.logos {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 80px;
}