@import url(global.css);

/* Configurações Gerais */

* {
    font-family: "Raleway";
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--text-color);
    padding: 8px 26px;
    border: none;
}

button:hover {
    cursor: pointer;
}

/* Header */

header {
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

header img {
    height: 27px;
}

.signIn {

    background-color: transparent;
}

.signUp {
    border-radius: 500px;
    background-color: var(--tertiary-color);
    margin-right: 24px;
    transition: background-color 1s, color 1s;
}

.signUp:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}