@import url(global.css);

/* Configurações Gerais */

* {
    font-family: "Raleway";

}

body {
    background-image: url(../images/background-movies-series.png);
    background-size: cover;
    background-color: var(--primary-color);

}

body,
p {
    margin: 0;
}

a,
p {
    text-decoration: none;
    background-color: transparent;
}

button {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--text-color);
    padding: 8px 26px;
    border-radius: 500px;
    border: none;
}

a:hover,
button:hover {
    cursor: pointer;
}

/* Header */

header {
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    position: relative;
}

header img {
    height: 27px;
}

.signIn {
    color: var(--text-color);
    font-weight: 700;
    font-size: 0.75rem;
    margin: 0 24px 0 0;
    letter-spacing: 2px;
}

.signUp {
    border-radius: 500px;
    background-color: var(--tertiary-color);
    margin-right: 24px;
    transition: background-color 1s, color 1s;
}

.signUp:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

#signIn-header {
    background-color: #000000;
    color: var(--text-color);
    padding: 0px;
}

/* Main */

.main {

    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*Container - Login*/

.title {
    text-align: center;
    letter-spacing: 2px;
}

form {
    background-color: var(--form-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;

    border-radius: 8px;
    margin: auto;
    width: 100%;
    max-width: 800px;

}

form h2 {
    font-size: 1.25rem;
    background-color: transparent;
    margin-bottom: 24px;

}

::placeholder {
    color: var(--form-field-placeholder);
}

input {
    display: block;
    background-color: var(--form-field-bg-color);
    padding: 16px;
    border-radius: 8px;
    border: var(--form-field-border);
    width: 90%;
}

input:focus {
    color: var(--text-color);
}

.remind-password {
    color: var(--link-color);
    margin: 0 0 0 24px;
    font-weight: bold;
}

.signIn-login {
    background-image: var(--btn-bg-color-gradient);
    background-size: 600%;
    padding: 16px 40px;
    font-size: 0.85rem;
    transition: all 1s;
}

.signIn-login:hover {

    background-color: transparent;
    outline: 3px solid var(--tertiary-color);
    transform: scale(1.01);
    background-position: 100% 0;
}

.buttons {
    background-color: transparent;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;

}

.footer p {
    margin: 16px 0px;
    font-size: 0.75rem;
    font-family: "Quicksand";
    color: var(--link-color);
}



.link {
    color: var(--link-color);
    transition: color 1s;
    font-size: 0.88rem;
    font-weight: bold;
    margin: 0px 14px;
    letter-spacing: 2px;
}

.link:hover {
    color: var(--text-color);
}

.logos {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 80px;
}